@use "sass:math";
// @import "fonts";
@import "base/base";
// <НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================
$fontFamily: "Tilda Sans";
$fontSize: 14;
$mainColor: #2d2d2d;
$maxWidthContainer: 1394px;
// @import "base/base";
// </НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================

body {
  color: $mainColor;
  font-size: $fontSize + px;
  // line-height: math.div(24, $fontSize);
  font-family: $fontFamily, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  // Скролл заблокирован
  &._lock {
    overflow: hidden;
    touch-action: none;
  }

  // @include lg {
  //   font-size: 14px;
  //   line-height: 20px;
  // }
}

html {
  scroll-behavior: smooth;

  a {
    text-decoration: none;
  }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  width: 100%;

  >main {
    overflow: hidden;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

//<ОСНОВНАЯ СЕТКА>============================================================================================================================
.container-n {
  max-width: 1394px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include lg {
    max-width: 1290px;
  }

  @include md {
    max-width: 1220px;
  }

  @include sm {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.swiper-wrapper {
  display: flex;
}

//</ОСНОВНАЯ СЕТКА>============================================================================================================================

// Компоненты
@import "../components/header/header";
@import "../components/footer/footer";
// @import "../components/tabs/tabs";

// Подключение стилей отдельных страниц
@import "./pages/main";